<section class="create-gallery">
  <form name="createGalleryForm"
   class="gallery-form"
   ng-submit="createGalleryCtrl.createGallery()">
   <h3>Create a New Gallery</h3>
   <fieldset>
     <label for="name"></label>
     <input placeholder="name" class="input-std" type="text"
     ng-model="createGalleryCtrl.gallery.name" required>
   </fieldset>

   <fieldset>
     <label for="description"></label>
     <input placeholder="description" class="input-std" type="text"
     ng-model="createGalleryCtrl.gallery.desc" required>
   </fieldset>

    <button  class="btn-std" type="submt">create gallery</button>
  </form>
</section>
