@import '../../../scss/lib/theme/vars';

.current-item{
   background-color:grey;
   padding:20px;
   margin-top:120px;
   margin-left:30px;
   margin-bottom:30px;
   border-radius: 10px 10px 10px;

   .item-label{
      font-size: 3.5vw;
      color:rgb(57, 56, 56);

   }
}

h3{
   font-size: 4vw;
   color:rgb(34, 33, 33);
   padding: 30px;
}

.delete-btn-std{

width: unset;
padding: 0 $gutter-std*2.5;
background-color: $primarycolor / 1.2;
color: $black;
font-size: x-large;
font-weight: lighter;
height:70px;
float:right;
margin-right:0px;
border-radius: 10px 10px 10px
}
