@import '../../scss/lib/theme/vars';

.navbar {
  background-color: $secondarycolor;
  color: $white;
  height:90px;
  img{
    height: 70px;
    width: auto;
    margin: 1%;
    display: inline-block;
    vertical-align: middle;
  }
  h1{
    display: inline-block;
    font-size: 2vw;
    vertical-align: middle;
  }
  button{
    margin-top: -85px;

  }
  .dropdown {
   position: absolute;
   right: 0;
 }
}
.btn{
  width:100%;
}
.dropdown-main{

  width:32%;
  margin-right:60px;
  margin-top:12px;
  border-radius: 10px 10px 10px;
  color: $black;
}
.dropdown-menu{
  margin:-34px;
}
.logout-btn-std{

  width: unset;
  padding: 0 $gutter-std*2.5;
  background-color: rgb(194, 195, 198);
  color: $black;
  font-size: x-large;
  font-weight: lighter;
  height:35px;
  float:right;
  margin-right:55px;
  border-radius: 10px 10px 10px
}
